element.style{

}

meta{
  display: none;
}

*{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

head {
  display: none;
}

html{
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust:100%;
  display: block;
}

html[Attributes Style]{
  -webkit-locale: "ja";
}

div {
  display: block;
}

div.m-mainVisual-image{
  background-image: url("http://pas-pol.jp/wp-content/uploads/2014/11/main_visual_111-0x0.jpg");
  height: 677px;
}

.l-header .m-siteLogo{
  float: left;
  margin-top: 50px;
  margin-left: 7%;
}

.m-siteLogo{
  margin: 0;
}

.l-header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.l-header:after{
  clear: both;
  content: "";
  display: block;
}

.m-siteLogo {
  display: block;
  overflow: hidden;
  text-indent: 100%;
  white-space:nowrap;
  background: url(../img/siteLogo-pc@.png) no-repeat;
  width: 266px;
  height: 72px;
  background-size: 266px 72px;
}

.m-navigation li:first-child{
  margin-left: 0;
}

.m-navigation li{
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  font-size: 1rem;
  letter-spacing: normal;
  word-spacing: normal;
  margin-left: 40px;
}

/* :-webkit-any(article, aside, nav, section)
h1{
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
} */

li{
  display: list-item;
  text-align: -webkit-match-parent;
}

.navigation ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 0;
  letter-spacing: -1em;
  word-spacing: -1em;
}

ul, menu, dir{
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

a:hover{
  opacity: 0.7;
}

a:active, a:hover{
  outline: 0;
}

a{
  color: #13191b;
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
}

a, .js-navigation, .m-button, .m-backTop{
  transition: 250ms;
  -webkit-transition-duration:250ms;
  transition-duration:250ms;
  -webkit-transition-timing-function:cubic-bezier(0.25, 0.1, 0.25, 1);
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  -webkit-transition-property:all;
  transition-property: all;
}
/*webkitは買う超機能であることをしめすための記号*/
/* a:-webkit-any-link{　　
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
} */

body{
  font-family: "Helvetica Neue",Helvetica,Arial,"游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
  background-color: #fff;
  color:#1391b;
  line-height: 1.7;
  font-size: 13px;
}

body{
  margin:0;
}

h1, h2, h3, h4, h5, h6{
  letter-spacing: 0.1em;
}

h1{
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h2{
  display:block;
  font-size: 1.5em;
  margin-block-start:0.83em;
  margin-block-end:0.83em;
  margin-inline-start:0px;
  margin-inline-end:0px;
  font-weight: bold;
}

.m-concept-title{
  text-align: center;
  font-size:44px;
  font-weight: normal;
  letter-spacing: 0.1em;
  margin:0 auto;
}

.m-button--more{
  background: url(../img/button-arrow@2x.png) no-repeat;
  background-image: url(../img/button-arrow@2x.png);
  /* background-position-x: 140px;
  background-position-y: 50%; */
  background-size: 8px 12px;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  -webkit-background-size:8px 12px;
  /* background-size: 8px 12px; */
  background-position: 140px 50px;
}

.m-button {
  display: inline-block;
  width: 162px;
  height: 46px;
  line-height: 48px;
  font-size:12px;
  color:#13191b;
  border:1px solid #13191b;
  text-align: center;
  font-family: "Gill Sans Std Book",sans-serif;
  letter-spacing: 0.1em;
  /* margin:auto; */
}



.m-button--facebook{
  color:#4871a9;
  border-color: #4871a9;
  /* margin: auto; */
}
.m-button--twitter{
  color:#70bdd3;
  border-color: #70bdd3;
}
.m-button--hatena{
  color:#2f9bcd;
  border-color: #2f9bcd;
}



.m-productList-item-image img{
  width: 100%;
  height: auto;
  vertical-align: top; /*topから縦に並べ*/
}

.m-productList-item{
  margin-top:60px;
}

.l-grid-4{
  width: 33%;
}

.m-productList-item-title{
  margin:20px 0 0;
  padding:0 20px;
  font-size: 20px;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img[Attributes Style] {
  width: 484px;
  height: 640px;
}

[class*="l-grid-"]{
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom:1;
  font-size: 1rem;
  letter-spacing: normal;
  word-spacing: normal;
  padding-right: 10px;
  padding-left: 10px;
  min-height: 1px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

article, aside, footer, header, hgroup, main, nav, section{
  display: block;
}

.m-newsList-item-image img{
  width: 100%;
  height: auto;
  vertical-align: top;
}

img {
  border:0;
}

.l-row {
  font-size: 0;
  letter-spacing: -1em;
  word-spacing: -1em;
  margin-right: -10px;
  margin-left: -10px;
  -webkit-box-sizing:content-box;
  box-sizing: content-box;
}

a{
  color:#13191b;
  text-decoration: none;
}


/* a:-webkit-any-link {
  color:#13191b;
  cursor: pointer;
  text-decoration: none;
} */

.l-share /*.m-backTop */{
    /* position: absolute; */
    top: 0;
    left: 28%;
    /* right: auto; */
    margin-left:auto;
    margin-top:auto;
}

/*⬆︎シェアボタンの位置を動かしてたけど、いまいち意味がわからない*/


.l-container{
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  padding: 0 7%;
}

.l-container .l-container--narrow [class*="l-grid-"] {
  padding-right: 15px;
  padding-left: 15px;
}

.l-container.l-container--narrow .l-row:after{
  clear:both;
  content:"";
  display: block;
}

.l-container.l-container--full{
  max-width: 100%;
  padding:0;
}

.m-sectionTitle:after{
  clear:both;
  content: "";
  display: block;
}

.l-grid-5{
  width: 41.6667%;
}

.m-shareButtons{
  font-size: 0;
  letter-spacing: -1em;
  word-spacing: -1em;
  text-align: center;
}

.m-shareButtons-item{
  display: inline-block;
  vertical-align: top;
  *display: inline;
  font-size: 1rem;
  letter-spacing: normal;
  word-spacing: normal;
  margin: 0 15px;
}

.m-siteLogo--small{
    background: url(../img/siteLogo-small@2x.png) no-repeat;
    width: 90px;
    height: 89px;
    -webkit-background-size: 90px 89px;
    background-size: 90px 89px;
}

.l-footer .m-siteLogo{
  float:left;
}
